.main-container {
    display: flex;
    width: 100%;
    width: 100%;
    background: #ffff;
    height: 100vh;
    overflow: hidden;
}

.container {
    margin: 0;
    padding: 20px;
    overflow: hidden;

}

.login-screen {
    width: 100%;
}

.user-field {
    display: flex;
    width: 100%;
    padding: 10px;

    input {
        width: 30%;
    }
}

.login-screen {
    background: #cfdce7;
    border-radius: 5px;
}

label {
    width: 20%;
    font-size: 13px;
    line-height: 30px;
    text-align: end;
    margin-right: 20px;
}

.btn-submit {
    margin-top: 10px;
}

input {
    display: inline-block;
    height: 15px;
    outline: none;
    border: 1px solid #e5d3d3;
    border-radius: 5px;
    min-width: 30%;
    vertical-align: middle;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
}

.left-side {
    width: 20%;
    background-color: #cfdce7;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
        width: 150px;
        border-radius: 5px;
    }
}

.right-side {
    width: 80%;
}

.btn {
    padding: 10px 20px;
    border: 1px solid #ddd;
    cursor: pointer;
    letter-spacing: 1px;
}

.btn-login {
    @extend .btn;
    margin-top: 10px;
    background-color: dodgerblue;
    color: white;
}

.btn-login:hover {
    background-color: rgb(2, 5, 8);
    border: 1px solid #fff;
}

.btn-plain {
    @extend .btn;
    margin-top: 10px;
    background-color: #d1d5d9;
    color: #563c3c;
    // border: 1px solid #bb9e9e;
}

select {
    display: inline-block;    
    outline: none;
    border: 1px solid #e5d3d3;
    border-radius: 5px;
    min-width: 30%;
    vertical-align: middle;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
}