body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.calendar-icon {
  height: 35px;
  font-size: 23px;
  /* left: 47px; */
  position: absolute;
  right: 0;
  margin-right: 5px;
  font-weight: 600;
}

.calendar-input {
  cursor: pointer;
  display: flex;
  position: relative;
}

.custom-date-range-picker {
  justify-content: center;
  position: 1000;
  /* position: absolute; */
  /* border: 1px solid #e7dcdc; */
  border-radius: 5px;
  right: 0;
  padding: 5px;
  background: #e5f5f0;
  /* padding-bottom: 40px; */
}

.drp-wrapper {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #eff2f7;
  border: 1px solid #e7d0d0;
  border-radius: 5px;
}

.drp-wrapper .apply-cls {
  padding: 5px;
  width: 70px;
  margin: 5px;
  background: #3d91ff;
  color: #fff;
  border: 0px;
  border-radius: 5px;
  height: 31px;
  cursor: pointer;
}

.rdrDefinedRangesWrapper {
  display: none;
}

.intake-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

.tabs {
  width: 40%;
  display: flex;
  margin: 0 auto;
}

.tab {
  line-height: 2rem;
  text-align: center;
  height: 42px;
  width: 200px;
  background: #d0dd68;
  /* border: 1px solid black;; */
  margin: 0 auto;
  cursor: pointer;
}

.active {
  background: white;
  border: 1px solid #dbcccc;
  font-weight: 500;
  height: 40px !important;
}